@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}
body {
  background: url('drum_bg.jpg') bottom center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  place-items: center;
  place-content: center;
  flex-wrap: wrap;
}
h1.title {
  color: white;
  font-size: 65px;
  width: 100%;
  text-align: center;
}
.drums {
  display: flex;
  justify-content: center;
  gap: 20px;
  transition: all 0.1s ease-in-out;
}
.drum {
  display: flex;
  border: 3px solid black;
  width: 85px;
  height: 100px;
  cursor: pointer;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  background: rgba(34, 34, 34, 0.55);
}
.drum h3 {
  width: 100%;
  margin: 0;
  color: white;
  font-size: 30px;
}

.drum span {
  color: #ffc600;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}